<html>
	<body>
	    <h3>There is something wrong in our system, please check! Here is the details:</h3>
	    <br />
	    <table>
	    	<tr>
	    		<th>key</th>
	    		<th>value</th>
	    	</tr>
	    	<tr>
	    		<td>reqId</td>
	    		<td>${reqId}</td>
	    	</tr>
	    	<tr>
	    		<td>sessionId</td>
	    		<td>${sessionId}</td>
	    	</tr>
	    	<tr>
	    		<td>groupId</td>
	    		<td>${groupId}</td>
	    	</tr>
	    	<tr>
	    		<td>clientId</td>
	    		<td>${clientId}</td>
	    	</tr>
	    	<tr>
	    		<td>accountId</td>
	    		<td>${accountId}</td>
	    	</tr>
	    	<tr>
	    		<td>balance</td>
	    		<td>${balance}</td>
	    	</tr>
	    	<tr>
	    		<td>preBalance</td>
	    		<td>${preBalance}</td>
	    	</tr>
	    	<tr>
	    		<td>changed</td>
	    		<td>${changed}</td>
	    	</tr>
	    	<tr>
	    		<td>margin</td>
	    		<td>${margin}</td>
	    	</tr>
	    	<tr>
	    		<td>freeMargin</td>
	    		<td>${freeMargin}</td>
	    	</tr>
	    	<tr>
	    		<td>profit</td>
	    		<td>${profit}</td>
	    	</tr>
	    	<tr>
	    		<td>type</td>
	    		<td>${type}</td>
	    	</tr>
	    	<tr>
	    		<td>closeBalance</td>
	    		<td>${closeBalance}</td>
	    	</tr>
	    	<tr>
	    		<td>status</td>
	    		<td>${status}</td>
	    	</tr>
	    </table>
	</body>
</html>