<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.trad.networkconfiguration.db.dao.BoCalculationDao">
		
	<select id="queryBoCalculationModels" resultType="BoCalculationModel" parameterType="java.util.ArrayList">
		select * from security_bo;
	</select>
		
 	<insert id="addBoCalculationModels" parameterType="list">
		insert into security_bo (id,security_id,security_name,symbol_list,operator_id,modify_time,describe) values
		<foreach item="boCalculationModel" index="index" collection="list" separator= ",">
		(#{boCalculationModel.id},#{boCalculationModel.security_id},#{boCalculationModel.security_name},
		#{boCalculationModel.symbol_list},#{boCalculationModel.operator_id},
		datetime('now', 'localtime'),#{boCalculationModel.describe})		
		</foreach> 
<!-- 		on duplicate key update 
		bo_symbols=values(bo_symbols),operator_id=values(operator_id),
		modify_time=values(modify_time),describe=values(describe)	 -->
	</insert> 
		
	<insert id="addBoCalculationModel" parameterType="BoCalculationModel">
		insert into security_bo (id,security_id,security_name,symbol_list,operator_id,modify_time,describe) 
		values (#{id},#{security_id},#{security_name},#{symbol_list},#{operator_id},datetime('now', 'localtime'),#{describe})
<!-- 		on duplicate key update 
		bo_symbols=values(bo_symbols),operator_id=values(operator_id),
		modify_time=values(modify_time),describe=values(describe) -->
	</insert>
	
	<delete id="deleteAll">
		delete from security_bo;
	</delete>	
		
</mapper>


