<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.trad.networkconfiguration.db.dao.GroupSpreadDao">
					
	<select id="queryGroupSpreadModels" resultType="GroupSpreadModel" parameterType="java.util.ArrayList">
		select * from group_fx;
	</select>
		
 	<insert id="addGroupSpreadModels" parameterType="list">
		insert into group_fx 
		(group_id,group_name,security_id,security_spread,time_period,maximum_amounts,
		minimum_amounts,group_password,profit,operator_id,modify_time,describe) 
		values
		<foreach item="groupSpreadModel" index="index" collection="list" separator= ",">
		(#{groupSpreadModel.group_id},#{groupSpreadModel.group_name},#{groupSpreadModel.security_id},#{groupSpreadModel.security_spread},	
		#{groupSpreadModel.time_period},#{groupSpreadModel.maximum_amounts},#{groupSpreadModel.minimum_amounts},#{groupSpreadModel.group_password},
		#{groupSpreadModel.profit},#{groupSpreadModel.operator_id},datetime('now', 'localtime'),#{groupSpreadModel.describe})		
		</foreach>
	</insert> 
		
	<insert id="addGroupSpreadModel" parameterType="GroupSpreadModel">
		insert into group_fx 
		(group_id,group_name,security_id,security_spread,time_period,maximum_amounts,
		minimum_amounts,group_password,profit,operator_id,modify_time,describe) 
		values 
		(#{group_id},#{group_name}, #{security_id},#{security_spread},
		#{time_period},#{maximum_amounts},#{minimum_amounts},#{group_password},
		#{profit},#{operator_id},datetime('now', 'localtime'),#{describe})
	</insert>

	<delete id="deleteAll">
		delete from group_fx;
	</delete>	  
		
</mapper>


