<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.trad.networkconfiguration.db.dao.SgIpUrlMapDao">
	
	<select id="querySgIpUrlMapModels" resultType="SgIpUrlMapModel" parameterType="java.util.ArrayList">
		select * from sg_ipurl_map;
	</select>
	
 	<insert id="addSgIpUrlMapModels" parameterType="list">
		insert into sg_ipurl_map (sg_internetip,sg_localip,sg_localport,url) values
		<foreach item="sgIpUrlMapModel" index="index" collection="list" separator= ",">
		(#{sgIpUrlMapModel.sg_internetip},#{sgIpUrlMapModel.sg_localip},#{sgIpUrlMapModel.sg_localport},#{sgIpUrlMapModel.url})		
		</foreach>;
	</insert> 
		
	<insert id="addSgIpUrlMapModel" parameterType="SgIpUrlMapModel">
		insert into sg_ipurl_map (sg_internetip,sg_localip,sg_localport,url) values (#{sg_internetip},#{sg_localip},#{sg_localport},#{url})
	</insert>
	
	<delete id="deleteAll">
		delete from sg_ipurl_map;
	</delete>	
		
</mapper>


