<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.trad.networkconfiguration.db.dao.SymbolSpreadDao">
		
	<select id="querySymbolSpreadModels" resultType="SymbolSpreadModel" parameterType="java.util.ArrayList">
		select * from symbol_spread;
	</select>
		
 	<insert id="addSymbolSpreadModels" parameterType="list">
		insert into symbol_spread (symbol,symbol_spread,operator_id,modify_time,describe) values
		<foreach item="symbolSpreadModel" index="index" collection="list" separator= ",">
		(#{symbolSpreadModel.symbol},#{symbolSpreadModel.symbol_spread},#{symbolSpreadModel.operator_id},datetime('now', 'localtime'),#{symbolSpreadModel.describe})		
		</foreach>
	</insert> 
		
	<insert id="addSymbolSpreadModel" parameterType="SymbolSpreadModel">
		insert into symbol_spread (symbol,symbol_spread,operator_id,modify_time,describe) values 
		(#{symbol},#{symbol_spread},#{operator_id},datetime('now', 'localtime'),#{describe})
	</insert>
	
	<delete id="deleteAll">
		delete from symbol_spread;
	</delete>	
		
</mapper>


