<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.trad.reportserver.dao.PriceDao">
	
	<select id="getPriceBySymbol" resultType="Price" parameterType="String">
		SELECT SYMBOL, TIME, BID, ASK, LOW, HIGH, DIRECTION, DIGITS, SPREAD, MODIFY_TIME 
		FROM MT4_PRICES
		WHERE SYMBOL = #{symbol};
	</select>
	
	<select id="getPricesBySymbols" resultType="Price" parameterType="java.util.ArrayList">
		SELECT SYMBOL, TIME, BID, ASK, LOW, HIGH, DIRECTION, DIGITS, SPREAD, MODIFY_TIME 
		FROM MT4_PRICES
		WHERE SYMBOL IN (
		<foreach item="symbol" index="index" collection="list" separator=",">
			#{symbol}
		</foreach>
		) ;
	</select>
	
	<select id="addPrice" parameterType="Price" resultType="int" statementType="CALLABLE">
	{
			call addPrice(
				#{symbol, 		jdbcType=CHAR, 	 	javaType=java.lang.String,	  mode=IN},
				#{time, 		jdbcType=TIMESTAMP, javaType=java.sql.Timestamp,  mode=IN},
				#{bid, 			jdbcType=DOUBLE,	javaType=java.lang.Double,	  mode=IN},
				#{ask, 			jdbcType=DOUBLE,	javaType=java.lang.Double,	  mode=IN},
				#{low, 			jdbcType=DOUBLE,	javaType=java.lang.Double,	  mode=IN},
				#{high, 		jdbcType=DOUBLE,	javaType=java.lang.Double,	  mode=IN},
				#{direction,	jdbcType=INTEGER,	javaType=java.lang.Integer,	  mode=IN},
				#{digits,		jdbcType=INTEGER,	javaType=java.lang.Integer,	  mode=IN},
				#{spread,		jdbcType=INTEGER,	javaType=java.lang.Integer,	  mode=IN},
				#{modify_time, 	jdbcType=TIMESTAMP, javaType=java.sql.Timestamp,  mode=IN}
			)
		}
	</select>
	
	<insert id="addPrices" parameterType="java.util.ArrayList">
		INSERT INTO mt4_prices(
			SYMBOL, TIME, BID, ASK, LOW, 
			HIGH, DIRECTION, DIGITS, SPREAD, MODIFY_TIME 
		)VALUES
		<foreach item="price" index="index" collection="list" separator=",">
		(
			#{price.symbol}, #{price.time}, #{price.bid}, #{price.ask}, #{price.low},
			#{price.high}, #{price.direction}, #{price.digits}, #{price.spread}, #{price.modify_time}
		)
		</foreach>
		ON DUPLICATE KEY UPDATE 
			SYMBOL = VALUES(SYMBOL), TIME = VALUES(TIME), BID = VALUES(BID), ASK = VALUES(ASK), LOW = VALUES(LOW), 
			HIGH = VALUES(HIGH), DIRECTION = VALUES(DIRECTION), DIGITS = VALUES(DIGITS), SPREAD = VALUES(SPREAD), MODIFY_TIME = VALUES(MODIFY_TIME);
	</insert>
	
	<!-- 		<foreach item="price" index="index" collection="list" separator=",">
		(
			#{price.symbol}, #{price.time}, #{price.bid}, #{price.ask}, #{price.low},
			#{price.high}, #{price.direction}, #{price.digits}, #{price.spread}, now()
		) -->
	
	<update id="updatePrice" parameterType="Price">
		UPDATE MT4_PRICES SET
			TIME = #{time}, BID = #{bid}, ASK = #{ask}, LOW = #{low}, HIGH = #{high}, 
			DIRECTION = #{direction}, DIGITS = #{digits}, SPREAD = #{spread}, MODIFY_TIME = #{modify_time}
		WHERE
		 	SYMBOL = #{symbol} ;
	</update>
	
	<update id="updatePrices" parameterType="java.util.List">
		START TRANSACTION;
		REPLACE INTO MT4_PRICES(
			SYMBOL, TIME, BID, ASK, LOW, 
			HIGH, DIRECTION, DIGITS, SPREAD, MODIFY_TIME
		)VALUES
		<foreach item="price" index="index" collection="list" separator=",">
		(
			#{price.symbol} , #{price.time}, #{price.bid}, #{price.ask}, #{price.low}, 
			#{price.high}, #{price.direction}, #{price.digits}, #{price.spread}, #{price.modify_time}
		)
		</foreach>
		;
		COMMIT;
	</update> 
	
	<!--  <update id="updatePrices" parameterType="java.util.List">
		START TRANSACTION;
		<foreach item="price" index="index" collection="list" separator=";">
			UPDATE MT4_PRICES SET
			TIME = #{price.time}, BID = #{price.bid}, ASK = #{price.ask}, LOW = #{price.low}, HIGH = #{price.high}, 
			DIRECTION = #{price.direction}, DIGITS = #{price.digits}, SPREAD = #{price.spread}, MODIFY_TIME = #{price.modify_time}
		WHERE
		 	SYMBOL = #{price.symbol} 
		</foreach>
		;
		COMMIT;
	</update>  -->
	
	<delete id="deletePriceBySymbol" parameterType="String">
		DELETE FROM MT4_PRICES WHERE SYMBOL = #{symbol}
	</delete>	
	
	<delete id="deletePricesBySymbols" parameterType="java.util.List">
		DELETE FROM MT4_PRICES WHERE SYMBOL IN (
		<foreach item="id" index="index" collection="list" separator=",">
			#{id}
		</foreach>
		);
	</delete>
</mapper>


